.contenedorcentradoregistro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tituloRegistro {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
}


.cardRegistro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 400px;
  flex-direction: column;
  gap: 50px;
  border-radius: 15px;
  background: #e3e3e3;
  box-shadow: 10px 10px 20px #268391,
    -10px -10px 20px #268391;
  border-radius: 8px;
}

.inputBoxRegistro,
.inputBoxRegistro1,
.inputBoxRegistro2,
.inputBoxRegistro3,
.inputBoxRegistro4 {
  position: relative;
  width: 250px;
  margin-top: 15px;
}

.inputBoxRegistro input,
.inputBoxRegistro1 input,
.inputBoxRegistro2 input,
.inputBoxRegistro3 input,
.inputBoxRegistro4 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBoxRegistro span,
.inputBoxRegistro1 span,
.inputBoxRegistro2 span,
.inputBoxRegistro3 span,
.inputBoxRegistro4 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBoxRegistro input:valid~span,
.inputBoxRegistro input:focus~span,

.inputBoxRegistro1 input:valid~span,
.inputBoxRegistro1 input:focus~span,

.inputBoxRegistro2 input:valid~span,
.inputBoxRegistro2 input:focus~span,

.inputBoxRegistro3 input:valid~span,
.inputBoxRegistro3 input:focus~span,

.inputBoxRegistro4 input:valid~span,
.inputBoxRegistro4 input:focus~span {
  transform: translateX(156px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
  border: 2px solid #000;
  border-radius: 8px;
}




.inputBoxRegistro input:valid,
.inputBoxRegistro input:focus,
.inputBoxRegistro1 input:valid,
.inputBoxRegistro1 input:focus,
.inputBoxRegistro2 input:valid,
.inputBoxRegistro2 input:focus,
.inputBoxRegistro3 input:valid,
.inputBoxRegistro3 input:focus,
.inputBoxRegistro4 input:valid,
.inputBoxRegistro4 input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enterRegistro {

  height: 45px;
  width: 110px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 3em 5em;

}

.enterRegistro:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}